<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Register for the First Time</h1>
    <form id = "register" action="/register" method="POST">
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" placeholder="Enter Your Username Here"></label><br>
        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email" placeholder="Enter Your Email Here"></label><br>
        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password" placeholder="Enter Your Password Here"></label><br><br>
        <input type="submit" value="Submit">
        <br>
        <br>
    </form>

    <h1>Login</h1>
    <form id="login" action="/login" method="POST">
        <label for="username">Username: </label><br>
        <input type="text" id="username" name="username" placeholder="Enter Your Username Here"></label><br>
        <label for="password">Password: </label><br>
        <input type="password" id="password" name="password" placeholder="Enter Your Password Here"></label><br><br>
        <input type="submit" value="Submit">
    </form>

    <h3>Forget Password: </h3>
    <form id="forget_password" action="/forget_password" method="POST">
        <label for="email">Email: </label><br>
        <input type="text" id="email" name="email" placeholder="Enter Your Email Here"></label><br><br>
        <input type="submit" value="Submit">

    </form>


</body>
</html>